<div class="ui center aligned container">
    <div>
        <i class="massive green check circle icon"></i>
    </div>
    <h2>Employee Added</h2>
    <p>There are more settings you can apply to employees.<br />
        Please ensure your records are complete and up to date.</p>
    <div class="margin top fourty">
        <a href="#" handler-events="click:click-view-employee" class="ui basic green button">View Employee</a>
    </div>
    <div class="margin top bottom twenty">
        <a id="add-another-employee" handler-events="click:click-add-another-employee">Add another employee</a>
    </div>
</div>